# Configuration files
columns.json
config.json
tsconfig.json
package.json
package-lock.json

# Node.js dependencies
node_modules/

# Logs
*.log

# Environment variables
.env

# Ignore secrets directory
secrets/
